:root{
    --navlightshade: #656266;
    --navgreyshade: #616161;
    --navdarkshade: #322f33;
    --navdarkershade: #1C181D;
    --textlight: #E3E3E3;
    --textmid: #616161;
    --textdark: #475467;
    --strokelight: #EBEBEB;
    --strokemid: #000000;
    --strokedark: #FFFFFF;
    --hover: #F7F7F7;
    --pressed: #F0F0F0;
    --focused: #005BD3;
    --mainbackground: #FFFFFF;
    --subbackground: #F1F1F1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body{
    background: var(--subbackground);
}
/* header */
header{
    background: var(--navdarkershade);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    color: white;
}
/* search box */
.search-box{
    background: var(--navdarkshade);
    border: 1px solid var(--strokelight);
    border-radius: 8px;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 30%;
    height: 30px;
    padding: 5px 10px;
}
/* input search box  design*/
.search-box #search{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    color: var(--textlight);
}
/* input search boc placeholder attribute */
.search-box #search::placeholder{
    color: var(--textlight);
}
/* display for the notification icon and the user info */
.noti,
.noti .user{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 30px;
}
/* attribute for the div containing the notification image */
.noti .noti-image{
    background: var(--navdarkshade);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* attribute for the div containing the user name */
.noti .user{
    background: var(--navdarkshade);
    height: 30px;
    padding: 3px 2px 5px 5px;
    border-radius: 5px;
}
/* attribute for the user name main */
.noti .user h3{
    font-size: 12px;
    font-weight: 400;
}
/* attribute fot the short form of the name */
.noti .user p{
    font-size: 12px;
    background: #40ff8c;
    padding: 4px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--textmid);
}
/* containing the body items */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}
/* the container for the select plans option */
.container{
    background: var(--navdarkershade);
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 17px 10px;
    color: var(--textlight);
}
/* the text attribute in the select plan */
.container h4{
    font-size: 14px;
    font-weight: 500;
}
/* the div for the button selct plan */
.container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
/* attributes for  the select plan button */
.container .box #select{
    width: 100px;
    height: 30px;
    background: var(--mainbackground);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}
/* effect when the select plan is hovered on */
.container .box #select:hover{
    background: var(--hover);
}
/* div containing the inforamtion to be filled */
.container2{
    background: var(--mainbackground);
    border: 2px solid var(--strokelight);
    width: 65%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
}
/* div containing the setup guide and arrow */
.container2-info{
    display: flex;
    justify-content: space-between;
}
/* attributes for the setup guide text */
.container2-info1 h5{
    font-size: 14px;
    font-weight: 600;
}
/* attributes for the paragraph text under the setup guide text */
.container2-info1 #p1{
    margin: 5px 0;
    font-size: 14px;
    font-weight: 500;
}
/* div containing the progress bar and the text */
.container2-info1 .progress{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px 0 20px 0;
}
/* attribute for the paragraph before the progress bar */
.container2-info1 .progress #p2{
    font-size: 12px;
    font-weight: 500;
}
/* div for the main progress bar */
.progress .progress-bar{
    background: var(--navlightshade);
    width: 20%;
    height: 5px;
    border-radius: 10px;
    overflow: hidden;
}
/* div for the sub progress percentage */
.progress-bar .progress-percent{
    background: var(--navdarkshade);
    width: 20%;
    height: 5px;
}
/* the attribute to the initilized in js when the div's are clicked */
.register .setup:focus{
    background: var(--subbackground);
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
}
/* div for the checkbox and the text beside it */
.setup .dotted-circle{
    display: flex;
    align-items: center;
    gap: 5px;
}
/* div for the inner details */
.register .setup .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 10px 35px;
}
/* attribute for the text beside the checkbox */
.setup .dotted-circle h4{
    color: var(--textdark);
    font-size: 14px;
    font-weight: 500;
}
/* width for the registration part containing the paragraph text and the button*/
.register .setup .info .additional-info{
    width: 57%;
}
/* attribute for the paragraph in the registration part*/
.register .setup .info .additional-info p{
    font-size: 12px;
    font-weight: 500;
    color: var(--textmid);
}
/* attribute for the main text in the registration part */
.register .setup .info .additional-info  a{
    font-weight: 600;
}
/* attribute for the buttons in the registration part */
.register .setup .info .additional-info button{
    border: 2px solid var(--strokemid);
    background: var(--navdarkershade);
    color: var(--textlight);
    border-radius: 10px;
    margin-top: 25px;
    width: 150px;
    height: 33px;
    padding: 5px 0;
    box-shadow: inset 0 1px 1px var(--strokedark);
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}
/* hover effects on the button in the registration part */
.register .setup .info .additional-info button:hover{
    background: var(--navdarkshade);
}
/* focus effects on the button in the registration part */
.register .setup .info .additional-info button:focus{
    border: 2px solid var(--focused);
}
/* specified width for some buttons */
.register .setup .info .additional-info #add,
.register .setup .info .additional-info #domain{
    width: 110px;
}
/* customized button for the div with two buttons in the registration part */
.register .setup .info .additional-info #import{
    border: none;
    background: transparent;
    color: var(--textdark);
    width: 130px;
    font-size: 13px;
    font-weight: 600;
}
/* hover effect for the  customized button for the div with two buttons in the registration part */
.register .setup .info .additional-info #import:hover{
    background: var(--hover);
}
/* focus effect for the customized button for the div with two buttons in the registration part */
.register .setup .info .additional-info #import:focus{
    border: 2px solid var(--focused);
}