:root{
    --navlightshade: #656266;
    --navgreyshade: #616161;
    --navdarkshade: #322f33;
    --navdarkershade: #1C181D;
    --textlight: #E3E3E3;
    --textmid: #616161;
    --textdark: #475467;
    --strokelight: #EBEBEB;
    --strokemid: #000000;
    --strokedark: #FFFFFF;
    --hover: #F7F7F7;
    --pressed: #F0F0F0;
    --focused: #005BD3;
    --mainbackground: #FFFFFF;
    --subbackground: #F1F1F1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background: var(--subbackground);
}

header{
    background: var(--navdarkershade);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    color: white;
}

.search-box{
    background: var(--navdarkshade);
    border: 1px solid var(--strokelight);
    border-radius: 8px;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 30%;
    height: 30px;
    padding: 5px 10px;
}

.search-box #search{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    color: var(--textlight);
}

.search-box #search::placeholder{
    color: var(--textlight);
}

.noti,
.noti .user{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.noti .noti-image{
    background: var(--navdarkshade);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noti .user{
    background: var(--navdarkshade);
    height: 30px;
    padding: 5px 2px 5px 5px;
    border-radius: 5px;
}

.noti .user h3{
    font-weight: 500;
}

.noti .user p{
    background: #40ff8c;
    padding: 4px;
    border-radius: 5px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.container{
    background: var(--navdarkershade);
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 17px 10px;
    color: var(--textlight);
}

.container h4{
    font-weight: 400;
}

.container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.container .box #select{
    width: 100px;
    height: 30px;
    background: var(--mainbackground);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.container .box #select:hover{
    background: var(--hover);
}

.container .box #select::after{
    background: var(--pressed);
}

.container2{
    background: var(--mainbackground);
    border: 2px solid var(--strokelight);
    width: 65%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
}

.container2-info{
    display: flex;
    justify-content: space-between;
}

.container2-info1 #p1{
    margin: 5px 0;
}

.container2-info1 .progress{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px 0 20px 0;
}

.progress .progress-bar{
    background: var(--navlightshade);
    width: 20%;
    height: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar .progress-percent{
    background: var(--navdarkshade);
    width: 20%;
    height: 5px;
}

.setup .dotted-circle{
    display: flex;
    align-items: center;
    gap: 5px;
}

.register .setup .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 10px 35px;
}

.register .setup .info .additional-info{
    width: 70%;
}

.register .setup .info .additional-info button{
    margin: 10px 0;
}